.text {
  --cols: 30;
  --col: calc(100vw / var(--cols));
  --max-width: calc(var(--col) * 26);
  --size: 1920;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: "kern" off;
  font-kerning: none;
  color: #191b1f;
  box-sizing: border-box;
  letter-spacing: -0.015em;
  margin: 0;
  position: relative;
  background: linear-gradient(
    90deg,
    #ab6bff,
    #9ad5f9 15%,
    #575df0 35%,
    #ab6bff 50%,
    #9ad5f9 65%,
    #575df0 85%,
    #ab6bff
  );
  -webkit-text-fill-color: transparent;
  backface-visibility: hidden;
  font-family: neue;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 1.5rem;
  animation: gradient 3.5s linear infinite;
  background-size: 200% 100%;
  opacity: 1;
  transform: translate(0px, 0px);
}
