* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: lightpink;
}

h1 {
  font-size: 8rem;
  text-align: center;
  color: #0a3d01;
}

canvas {
  border: solid 1px blue;
}

main {
  padding: 1rem 10% 10rem;
  background: white;
  text-align: center;
}

h3 {
  font-size: 4rem;
}

button {
  background: lightpink;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 8px 20px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}
